.main__content__books__wrapper {
    display: block;
    margin: 30px auto;
    text-align: center;
    
    .main__content__books__wrapper__button {
        max-width: 300px;
        min-height: 100px;
        padding: 0 50px;
    }
}

