.main__content__books__card {
    min-height: 300px;
    max-width: 424px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .main__content__books__card__image {
        & > img {
            min-width: 100%;
        }
    }

    .main__content__books__card__description {
        color: black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2rem;
        line-height: 2rem;
        gap: 1rem;
    }
}