
main {
    overflow: hidden;
    margin-top: 9vh;

    .main__slider {
        margin: 0 auto;
        max-width: 1120px;
        min-width: 300px;
        position: relative;
        
        .main__slider__images {
            display: block; 

            .main__slider__image {
                display: none;
                width: 100%; 
                height: auto;
            }
        
            .main__slider__image--active {
                display: block;
            }
        }
        
        .main__slider__dots {
            margin: 25px auto;
            max-width: 100px;
            display: flex;
            justify-content: space-between;
        
            .main__slider__dot {
                height: 12px;
                width: 12px;
                border-radius: 5px;
                background-color: #EFEEF6;
            }

            .main__slider__dot--active {
                background-color: $purple;
            }
        }

        
        .main__slider__link1 {
            background-color: $purple;
            position: absolute;
            display: inline-block;
            padding: 10% 2% 2% 2%;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.8rem;
            right: -80px;
            top: 80px;
            filter: drop-shadow(5px 5px 10px rgba(128, 128, 128, 0.402));

            & a {
                text-decoration: none;
                color: $mainColor;
            }
        }

        .main__slider__link2 {
            @extend .main__slider__link1;
            background-color: #FF8FE6;
            right: -159px;
            top: 359px;
            padding: 15% 4% 2% 2%;
            filter: drop-shadow(5px 5px 10px rgba(128, 128, 128, 0.402));
        }
        
    }
}