$contentWidth: 1120px;

@import "reset";
@import "header";
@import "fonts";
@import "main-slider";
@import "main__content";
@import "books";
@import "btn-loader";
@import "card-button";

html {
    font-size: $mainTextSize;

    body {
        min-height: 100vh;
        font-family: $fontFamily;
        width: 100%;
    }
}
